.button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: $main-font-family;
  font-weight: $bolt-font-weight;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  background-color: $accent-color;
  color: $dark-main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
