.page-footer {
  padding-top: $paddidng-top-section-mobile;
  padding-bottom: $paddidng-bottom-section-mobile;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $$primary-white-color;
  background-color: $fon-hero-color;
  &__logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: $$primary-white-color;
  }
}
@media screen and (max-width: 1199px) {
  .footer__info {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer-container {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    width: 1200px;
    display: flex;
    align-items: baseline;
  }
}
@media (min-width: 768px) {
  .tablet-footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__logo {
  color: $$primary-white-color;
}
.address {
  @media screen and(max-width:767px) {
    margin-top: 28px;
  }
  margin-top: 20px;
  &__item:not(:first-child) {
    margin-top: 9px;
    @media screen and (max-width: 1199px) {
      margin-top: 12px;
      text-align: center;
    }
  }

  &__map {
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
    color: var(--$primary-white-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color 250ms $time-animacion;
    &:hover,
    &:focus {
      color: $logo-color;
    }
  }
}

.footer-contact {
  font-style: normal;

  display: inline-block;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms $time-animacion;
  &:hover,
  &:focus {
    color: $logo-color;
  }
}
