.team {
  padding-top: $paddidng-top-section-mobile;
  padding-bottom: $paddidng-bottom-section-mobile;
  @media screen and (min-width: 1200px) {
    padding-top: $paddidng-top-section;
    padding-bottom: $paddidng-bottom-section;
  }
  background-color: $team-color;
  &__name {
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: $titel-color;
  }
  &__profession {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
  }
  &__titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $titel-color;
  }

  @media screen and (max-width: 767px) {
    .team__card:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__list {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 50px;
    }
    @media (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__card {
    @media (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc(50% - 15px);
    }

    border-radius: 0px 0px 4px 4px;
    background: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
